<a href="https://colab.research.google.com/github/SanchitaMahajan/Programming-Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment ideas

The process of problem solving can be broken down into 5 key steps: -

1. State the problem clearly

2. Describe the input and output information

3. Work the problem by hand

4. Develop algorithm

5. Test solution with a variety of data

Program, Inputs, Processing and Outputs

# Inputs

* Input a ticker symbol

**Find out what a ticker symbol is**

# Processing thoughts

* Scrape the Yahoo finance

* Extract the 'Key Executives'

* Calculate income tax

Here is the webpage: https://au.finance.yahoo.com/



# Outputs

* Save to CSV files

* Save to SQL database

# Lets Calculate the Tax manually


```

Name	Title	Pay	Exercised	Year born
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A


```

Need to calculate income tax.

* Need to kmow the pay!

The first column is Name

The second column is title

The third column is their pay

** TOdo How to get the last column!**


Lets consider one row

```

Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	

```

So the third column is pay, and for this row is '2.54M'

I will assume 'M' means Million, so pay will be multiplied by 1000000

In [ ]:
2.5 * 1000000

2500000.0

Inspect for another row:-

```
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k
```

I am going to assume that 'K' means 1000, so their pay is '912.98' * 1000

In [ ]:
912.98 * 1000

912980.0

Lets calculate income tax. Lets look at income tax notebook. Here is the function from tax notebook:-

```
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000) 
  elif 180000 < income:
    tax_payable = 51667 + 0.45 * (income - 180000)

  return tax_payable
  ```

I am happy that this will work, I have tested it before..

income_tax = calculate_tax(pay)

# Initial Algorithm

1. Use input ticker symbol
2. Use ticker to get profile page
3. Copy the table
4. For each row of the table:-
 * Process a row to extract pay
 * Find last character to determine multiplier
 * Calculate income tax

 Note: 

 1. Need to validate the ticker, but for now i assume that user type in a correct ticker.
 2. Still need to work with where to save the income tax

In [ ]:
# Usually run from Google Colab, so install unique packages
!pip install kora -q

# load packages
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 2.1 MB/s
     |████████████████████████████████| 56 kB 3.9 MB/s

In [ ]:
def get_url():
  #User input ticker symbol
 ticker_symbol = input( "Please input a ticker symbol ")
 print(ticker_symbol)
 example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
 result = example_url.format(ticker_symbol, ticker_symbol)
 return result

In [ ]:
def get_first_3_cells(row):
  
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title': title,'pay': pay}

In [ ]:
def get_extract_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  extract_records = []
  for row in rows:
    result = get_first_3_cells(row)
    extract_records.append(result)
  return extract_records

In [17]:
def get_salary(rec):
  pay = rec['pay']
  last_pay_character = pay[-1]
  num_part = pay[0:-1]

  if last_pay_character == 'M':
    salary = float(num_part) * 1000000
    #print("Millions")
  elif last_pay_character == 'k':
    salary = float(num_part) * 1000
    #print("Thousand")
  else:
    salary = 0
    #print("Not sure")

  return salary

In [19]:
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120001 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif income > 180000:
    tax_payable = 51667 + 0.45 * (income - 180000)


  return tax_payable

In [29]:
# Get URL
url = get_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
record = get_extract_records(soup)

for record in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

# creat a pandas datafrme (because recall in a earlier notebok a data frame is easy to save as csv)

execs_df = pd.DataFrame.from_records(records)
execs_df

Please input a ticker symbol COL.AX
COL.AX

                                                name  ...        tax
0                Mr. Ross Maxwell McEwan CBE, B.B.S.  ...  1113667.0
1  Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons)...  ...   479167.0
2                              Mr. Patrick F. Wright  ...   744667.0
3                                 Ms. Sharon J. Cook  ...   381508.0
4                                 Ms. Susan  Ferrier  ...   388838.5
5                           Ms. Angela  Mentis B.Bus  ...   699667.0
6                                  Mr. Shaun  Dooley  ...   443167.0
7                                 Mr. Andrew  Irvine  ...   120638.5
8                             Mr. Lesile D. Matheson  ...        0.0
9                                  Ms. Sally  Mihell  ...        0.0

[10 rows x 4 columns]

In [28]:
for r in records:
 result = get_salary(r)
 print(result)

2540000.0
1130000.0
1720000.0
912980.0
929270.0
1620000.0
1050000.0
333270.0
0
0

[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000