<a href="https://colab.research.google.com/github/SanchitaMahajan/Programming-Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ASSIGNMENT**

##By Sanchita Mahajan (20467876)

1. This notebook will prompt the user to input a company's stock market ticker symbol. 
2. It will then get the data from the Yahoo Finance website to extract information on the key of the company. 
3. Then the income tax will be calculated for each
executive based on the ATO tax tables. 
4. The User can further choose if the data
will be saved as a CSV and/or stored in an SQLite database.

##***Here is the link of the Yahoo Finance WebPage:-***

https://au.finance.yahoo.com/







##***Here is the ATO tables based on which Income tax of all Key Executives will be calculated:-***


[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000

 # **Algorithm**

*1. Firstly, The user has to input a valid ticker symbol.*

*2. Ticker symbol will be used to extract Web page and scrape data of Key Executives of that Stock ticker.*

*3. A function will be created to get the URL.*

*4. Then a function will be created to extract cells data of each row.*

*5. Finally, The function will be created to get salary of all key executives and calculate tax on the pay based on the ATO tables.*

# **User Instructions:-**
***1. Please input a Valid stock ticker symbol.***

***2.Only Australian companies are allowed to be searched.***

***3.Kindly use '.AX' after the company names to search for stock ticker symbols.*** 

***4.Dont use Numbers and use only valid stock ticker symbols like NAB.AX, COL.AX and so on.***

# **First Step is to Install Unique Packages:-**
***1. We have to install the following packages..***

In [2]:
# Install unique packages
!pip install kora -q

# load packages
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd
import csv

# **Second Step is to Create a function to get the URL:-**
***1. The User has to input a stock ticker symbol..***

***2. The function will then return the Webpage of the input Stock ticker by the user and provide details of the Key Executive of the Stock ticker company.***

***3.The Input here is the stock ticker symbol which will get the URL of the profile table of the Yahoo Finance webpage.***



---




# **WORKING:-**

After careful analysis we realised that:-

**URL of NAB.AX:** https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

**URL of COL.AX:** https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX

***The only difference is the name placement in the URL, therefore we can set up the URL in the following way:-***

  **example_url**  = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'

  ***(We only have to input the stock ticker symbols in the Curly brackets{}..)***

---



##*So,the result URL will be:-*

***example_url.format(ticker_symbol, ticker_symbol)***

In [3]:
def get_url():
  '''This function will prompt the user to input a ticker symbol and get 
  the URL of the profile page'''
  
  ticker_symbol = input( "Please input a ticker symbol ")
  print(ticker_symbol)
  example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

#**Third Step is to Create a function to get the Cells data of the generated table:-**

***1. This function will return the Name, Title and Pay of all the Key Executives of the input stock ticker symbol company...***




---

# **Working:-**

***1. Cells can be find using row.find_all('td') where ('td') is used to get the cells details.*** 

***2. For the Key Executives,We just need the Name, title and pay of the excecutives. So, accordingly we just need text of 1,2 and 3 cells.***

In [4]:
def get_cells_data(row):
  ''' This function will get the data of the first cells(Name, Title, Pay 
  of the Key Executives''' 
  
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name': name, 'title': title,'pay': pay}

# **Fourth Step is to Create a function to extract records of Key Executives of different ticker symbols:-**

In [5]:
def get_extract_records(soup):
  '''This function will extract records of key executives of different 
 ticker symbols'''
 
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')
  
  extract_records = []
  for row in rows:
    result = get_cells_data(row)
    extract_records.append(result)
  return extract_records

# **Fifth Step is to Create a function to get the salary of the Key Executives:-**

In [6]:
def get_salary(rec):
  ''' This function will get the salary(pay) of the Key executives'''
  
  pay = rec['pay']
  last_pay_character = pay[-1]
  num_part = pay[0:-1]

  if last_pay_character == 'M':
    salary = float(num_part) * 1000000
    #print("Millions")
  elif last_pay_character == 'k':
    salary = float(num_part) * 1000
    #print("Thousand")
  else:
    salary = 0
    #print("Not sure")

  return salary

# **Sixth Step is to Create a function to Calculate the Income tax(based on ATO table) on salary of the Key Executives:-**

In [7]:
def calculate_tax(income):
   ''' This function will calculate the tax (based on ATO table) 
   on salary(pay) of the Key executives'''
   
   if income <= 18200:
    tax_payable = 0
   elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
   elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
   elif 120001 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
   elif income > 180000:
    tax_payable = 51667 + 0.45 * (income - 180000)


   return tax_payable

# **Final step is to scrape the Yahoo Finance Table of Key Executives which includes the following columns:-**

***1. Name of Key Executives.***

***2. Title of Key Executives.***

***3. Pay of Key Executives.***

***4. Tax of Key Executives.***

---






###*NOTE: PANDAS Dataframe has been used to display table in an attractive way!

In [8]:
# Get URL
url = get_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source, "html.parser")
records = get_extract_records(soup)

for record in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax'] = income_tax

# creat a pandas datafrme (because recall in a earlier notebok a data frame is easy to save as csv)

execs_df = pd.DataFrame.from_records(records)
execs_df

Please input a ticker symbol NAB.AX
NAB.AX

                                                name  ...        tax
0                Mr. Ross Maxwell McEwan CBE, B.B.S.  ...  1113667.0
1  Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons)...  ...   479167.0
2                              Mr. Patrick F. Wright  ...   744667.0
3                                 Ms. Sharon J. Cook  ...   381508.0
4                                 Ms. Susan  Ferrier  ...   388838.5
5                           Ms. Angela  Mentis B.Bus  ...   699667.0
6                                  Mr. Shaun  Dooley  ...   443167.0
7                                 Mr. Andrew  Irvine  ...   120638.5
8                             Mr. Lesile D. Matheson  ...        0.0
9                                  Ms. Sally  Mihell  ...        0.0

[10 rows x 4 columns]

# **Saving the Output Results:-**

***1. CSV File***

***2. Excel File***

***3. Sqlite Database***


---


***The User can choose to save the data either in csv, excel or SQLite database or three of them together..***

In [9]:
'''Saving the Income Tax of Key Executives in a csv and an excel file'''
# Saving the output
execs_df.to_csv('Key_Executives.csv')
execs_df.to_excel('Key_Executives.xlsx')
print('Saved to file')

Saved to file

In [10]:
#Saving the Income tax of Key Executives to SQLite Database using pandas dataframe..
import sqlite3
conn = sqlite3.connect("Key_Executives.db")
execs_df.to_sql('execs_df',conn)

In [11]:
Name= pd.read_sql('SELECT * FROM execs_df', conn)
Name.head()

   index                                               name  ...      pay        tax
0      0                Mr. Ross Maxwell McEwan CBE, B.B.S.  ...    2.54M  1113667.0
1      1  Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons)...  ...    1.13M   479167.0
2      2                              Mr. Patrick F. Wright  ...    1.72M   744667.0
3      3                                 Ms. Sharon J. Cook  ...  912.98k   381508.0
4      4                                 Ms. Susan  Ferrier  ...  929.27k   388838.5

[5 rows x 5 columns]