<a href="https://colab.research.google.com/github/SanchitaMahajan/Programming-Assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment ideas

The process of problem solving can be broken down into 5 key steps: -

1. State the problem clearly

2. Describe the input and output information

3. Work the problem by hand

4. Develop algorithm

5. Test solution with a variety of data

Program, Inputs, Processing and Outputs

# Inputs

* Input a ticker symbol

**Find out what a ticker symbol is**

# Processing thoughts

* Scrape the Yahoo finance

* Extract the 'Key Executives'

* Calculate income tax

Here is the webpage: https://au.finance.yahoo.com/



# Outputs

* Save to CSV files

* Save to SQL database


# Lets explore the website

1. Search for Coles
COLES.AX, '.AX' stands for Australian 

Just read the assignment specification again, it can be any company

Found the key executives in the profile page.

Here, is the URL for Coles: 

https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX

Here is the URL for NAB:

https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

There seems to be a pattern with the URL. I can see that the ticker twice in the URL. 

Manual process is:

1. Search for ticker

2. Click on profile

**To DO Can I add shortcut for process and just use the URL**

Looks like there is a way out...

# Lets Calculate the Tax manually


```

Name	Title	Pay	Exercised	Year born
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A


```

Need to calculate income tax.

* Need to kmow the pay!

The first column is Name

The second column is title

The third column is their pay

** TOdo How to get the last column!**


Lets consider one row

```

Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	

```

So the third column is pay, and for this row is '2.54M'

I will assume 'M' means Million, so pay will be multiplied by 1000000

In [3]:
2.5 * 1000000

2500000.0

Inspect for another row:-

```
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k
```

I am going to assume that 'K' means 1000, so their pay is '912.98' * 1000

In [2]:
912.98 * 1000

912980.0

Lets calculate income tax. Lets look at income tax notebook. Here is the function from tax notebook:-

```
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000) 
  elif 180000 < income:
    tax_payable = 51667 + 0.45 * (income - 180000)

  return tax_payable
  ```

I am happy that this will work, I have tested it before..

income_tax = calculate_tax(pay)

# Initial Algorithm

1. Use input ticker symbol
2. Use ticker to get profile page
3. Copy the table
4. For each row of the table:-
 * Process a row to extract pay
 * Find last character to determine multiplier
 * Calculate income tax

 Note: 

 1. Need to validate the ticker, but for now i assume that user type in a correct ticker.
 2. Still need to work with where to save the income tax

In [13]:
# User input ticker symbol
ticker_symbol = input( "Please input a ticker symbol ")
print(ticker_symbol)

Please input a ticker symbol NAB.AX
NAB.AX

In [15]:
# Use ticker to get profile page

example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
example_url.format(ticker_symbol, ticker_symbol)

'https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX'

In [16]:
def get_url():
  #User input ticker symbol
 ticker_symbol = input( "Please input a ticker symbol ")
 print(ticker_symbol)
 example_url = 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
 result = example_url.format(ticker_symbol, ticker_symbol)
 return result

In [17]:
url = get_url()
print(url)

Please input a ticker symbol NAB.AX
NAB.AX
https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000